*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

#main-container {
    display: grid;
    grid-template-columns: calc(22vmin + 22px) repeat(4, 1fr);
    grid-template-rows: 15% repeat(4, 1fr);
    grid-template-areas: 
        "sidebar header header header header"
        "sidebar projects projects projects announcements"
        "sidebar projects projects projects announcements"
        "sidebar projects projects projects announcements"
        "sidebar projects projects projects announcements";
}

#website-name {
    font-size: clamp(16px, 3.5vw, 37px);
}

#sidebar {
    grid-area: sidebar;
    align-self: stretch;
}

#menu-section {
    grid-area: header;
}

#sidebar-options {
    
}

#options-top,
#options-bottom {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: calc(2vmin + 2px);

}

#options-top {
    border: 1px solid blue;
    margin-bottom: calc(6vmin + 6px);
}

#options-bottom {
    border: 1px solid blue;
}

.option-buttons {
    border: none;
    background-color: transparent;
    font-size: clamp(10px, 2vw, 16px);
    display: flex;
    align-items: center;
    border: 1px solid blue;
}

button:hover {
    background-color: rgb(208, 208, 208);
}

.side-bar-icon,
#search-icon,
#notification-button,
#share-button,
#save-button {
    height: clamp(1.125rem, 2vw, 1.5rem);
    width: clamp(1.125rem, 2vw, 1.5rem);
    border: 1px solid blue;
}

.side-bar-text {
    border: 1px solid blue;
}

#top-menu {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.7rem;
    font-size: clamp(10px, 2vw, 16px);
    border: 1px solid blue;
}

#searchbar {
    width: clamp(300px, 40vw, 700px);
}

#top-profile-picture {
    height: clamp(1.125rem, 2vw, 2rem);
    width: clamp(1.125rem, 2vw, 2rem);
    border-radius: 50%;
}

#notification-button {
    margin-left: auto;
}

#second-line-profile-picture {
    height: clamp(2rem, 4vw, 3.5rem);
    width: clamp(2rem, 4vw, 3.5rem);
    border-radius: 50%;
}

#secondary-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: clamp(10px, 2vw, 16px);
    border: 1px solid blue;
}

.new-button {
    margin-left: auto;
}

#project-title {
    margin: 1rem 0.5rem 0.5rem;
}

#project-container {
    padding: 0.5rem;
    gap: 0.5rem;
}

.project-card {
    /* gap: 0.5rem; */
}

.project-card-texts {
    font-size: clamp(12px, 2vw, 16px);
}

.menu-buttons {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(10px, 1.2vw, 16px);
    padding: 8px 18px;
    border-radius: 16px;
}

.user-avatars {
    height: clamp(2rem, 4vw, 3.5rem);
    width: clamp(2rem, 4vw, 3.5rem);
}

#your-projects {
    grid-area: projects;
}

#project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#announcents-and-trending {
    grid-area: announcements;
    font-size: clamp(12px, 2vw, 16px);
}

.trending-card-title p span {
    display: block;
}

#main-container,
#your-projects,
.project-card,
#announcements-and-trending,
#your-announcement,
#announcement-title,
.announcement-card,
#your-trending,
#trending-title,
#sidebar-options,
.trending-card {
    border: 1px solid blue;
}
